html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    background-color: #f5f5f5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.board {
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.btn {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 80px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
    background-color: #f77066;
}

.board-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #333;
    overflow: hidden;
    -webkit-transform: translateZ(-2x) rotateX(180deg);
            transform: translateZ(-2x) rotateX(180deg);
    -webkit-transition: -webkit-box-shadow 0.8s ease;
    transition: -webkit-box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease, -webkit-box-shadow 0.8s ease;
}

.board-back>p {
    margin: 30px 0;
}

.board-back>button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: background 0.15s ease;
    transition: background 0.15s ease;
    color: #2196f3;
}

.board-back>button.yes {
    color: #fff;
    background-color: #2196f3;
}

.board-back>button.yes:hover {
    background-color: #51adf6;
}

.board-back>button.no:hover {
    background-color: #ddd;
}

.board[data-direction='left']>.board-back,
.board[data-direction='right']>.board-back {
    -webkit-transform: translateZ(-2px) rotateY(180deg);
            transform: translateZ(-2px) rotateY(180deg);
}

.board.is-open {
    width: 400px;
    height: 160px;
}

.board.is-open>.btn {
    pointer-events: none;
    line-height: 160px;
}

.board.is-open>.board-back {
    -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.board[data-direction="top"].is-open {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.board[data-direction="right"].is-open {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.board[data-direction="bottom"].is-open {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.board[data-direction="left"].is-open {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}