$color-main = #5BD5FF

#app
  .ivu-select-selection
  .ivu-select-dropdown
    font-size 0.8rem
    background-color rgba(0,0,0,0.2)
    border-radius 0
    border 0.1rem solid $color-main
    color $color-main
    padding 0
  .ivu-select-arrow
    color $color-main
  .ivu-select-selected-value
    font-size 0.8rem
  .ivu-select-item
    font-size 0.8rem !important
    text-align center
    color $color-main
    &:hover
    &.ivu-select-item-selected
      color #fff
      background $color-main
